.topnav {
	background-color: #333333;
	overflow: hidden;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.contentBox {
	width: 100%;
	font-size: auto;
}

.contentBox img {
	width: 460px;
	height: 460px;
	margin: 15px;
	display: inline;
}

.contentBox span {
	margin: 15px;
	float: right;
	display: inline;
}

#gitHub {
	width: 50% !important;
	float: left;
	display: inline;
}

#twitter {
	width: 50% !important;
	float: right;
	display: inline;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}
	
