.topnav {
	background-color: #333333;
	overflow: hidden;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

h2{
	padding: 2px;
}

input[type=checkbox] {
	zoom: 2;
	padding: 5px;
}

input[type=number] {
	zoom: 2;
	padding: 5px;
}

input[type=submit] {
	zoom: 3;
}

span {
	display: inline;
	width: 50%;
}

.column {
	width: 80%;
	display: block;
	font-size: 1.5em;
	padding: 5px;
}

@media only screen and (min-width: 768px) {
	*{
		box-sizing: border-box;
		margin: auto;
	}
	.column {
		width: 50%;
		display: inline-table;
		font-size: 1.5em;
	}
}

.outerContainer {
	width: 100%;
	content: "";
	display: table;
	text-align: center;
}

#dateName {
	font-size: 3em;
}

#datePrice {
	font-size: 1em;
}

