<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="static/stylesheet.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.css"/>
		<link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>
		<script>
			function myFunction() {
				var x = document.getElementById("Navigation Menu");
				if (x.className === "topnav") {
					x.className += " responsive";
				} else {
					x.className = "topnav";
				}
			}
		</script>
	</head>
	<body>
		<div class="topnav" id="Navigation Menu">
			<a href="http://julienlegault.freemyip.com/" class="active">Home</a>
			<a href="static/LegaultResume.pdf">Resume</a>
			<a href="/dates">Date Ideas</a>
			<a href="/lights">Light Colors</a>
			<a href="/login">Login</a>
			<a href="javascript:void(0);" class="icon" onclick="myFunction()">
				<i class="fa fa-bars"></i>
			</a>
		</div>
		<div class="contentBox" id="aboutMe">
			<img src="static/headshot.png" alt="Picture of Julien">
			<p> I'm a computer scientist with special interest in home automation and cybersecurity. I also work freelance as an Artifact caster, provided there are tournaments running at any given point. I specialize in Python 3, but also have experiance with Java, C++, front-end, and Javascript. Always on the lookout for new tools to learn, I take on any challenging project that comes across my plate. Other notable achivements include: a kattis score of 120, world record holder in PEGS any%, and a customer-oriented employee. </p>
		</div>
		<div class="contentBox" id="gitHub">
			<script src="https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.min.js"></script>
			Loading GitHub data.
		</div>
		<script> new GitHubCalendar("#gitHub", "julienlegault");</script>
		<div class="contentBox" id="twitter">
			<a class="twitter-timeline" data-width="350" data-height="600" href="https://twitter.com/aquinArtifact?ref_src=twsrc%5Etfw">Tweets by aquinArtifact</a>
			<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
		<footer>
			<a href="https://www.github.com/julienlegault">GitHub</a>
			<a href="https://twitter.com/aquinArtifact">Twitter</a>
		</footer>
	</body>
</html>
